html{
	margin-bottom: 100%;
	display: table-cell;
}

body{
	background-image: url("/Users/wadamika/Desktop/HTMLOFFICIAL/use/IMG_1312.cloud.jpg");
margin: auto;
min-height:30;
}
.menustyle{
	background-image: url("/Users/wadamika/Desktop/HTMLOFFICIAL/use/CloudWalkerSince1992.jpg");
	background-size: cover;
border: 1px;
width: 1450px;
height: 400px;
	}
	ul li{
		display: table-cell;
		width: 18%;
	}

	.info{
		background-image: url("/Users/wadamika/Desktop/HTMLOFFICIAL/use/CloudWalkerintroduction7.png");
		position: absolute;
		top: 750px;
		left: 50px;
		width: 500px;
		height: 280px;
	}

	.title{
		border: 10px snow;
		background-color: snow;
		position: absolute;
		top: -400px;
		width: 1500px;
		text-align: center;
	}

	.b1{
		position: absolute;
		top: -250px;
		left: 650px;
		font-size:20px;
		text-decoration: underline skyblue;
	}

	.b2{
		position: absolute;
		top: -170px;
		left:650px;
		width: 200px;
		font-size: 20px;
	}

	.b3{
		position: absolute;
		top: -130px;
		left: 650px;
		width: 500px;
		font-size: 20px;
	}
	.b4{
		position: absolute;
		top: -35px;
		left: 650px;
		width: 500px;
		font-size: 20px;
	}
	.b5{
		position: absolute;
		top: 55px;
		left: 650px;
		width: 500px;
		font-size: 20px;
	}
	.b6{
		position: absolute;
		top: 250px;
		left: 50px;
		width: 1200px;
		font-size: 25px;
		text-align: center;
	}
	.b7{
		position: absolute;
		top: 300px;
		left: 60px;
		width: 1200px;
		font-size: 25px;
		text-align: center;
	}
	.b8{
		position: absolute;
		top: 350px;
		left: 50px;
		width: 1200px;
		font-size: 25px;
		text-align: center;
	}
	.b9{
		position: absolute;
		top: 450px;
		left: 50px;
		width: 1200px;
		font-size: 25px;
		font-weight: bold;
		text-align: center;
	}

	.messages{
		position: absolute;
		top: 550px;
		left: 550px;
		background-color: white;
		font-size: 25px;
		text-align: center;
	}

	.massages2{
		position: absolute;
		top: 700px;
		left: 70px;
		width: 1200px;
		font-size: 25px;
		text-align: center;
	}
	.cloudSpace{
		margin-bottom: 1000px;
		position: absolute;
		top: 900px;
	}

	
	footer{
		position: absolute;
		background-color: grey;
		bottom: -1500px;
		left: 0px;
		width: 101%;
		height: 90px;
	}
	h4.copy{
		background-color: grey;
		text-align: center;
		
	}
