html{
	display: table-cell;
}
body{
	background-image: url("/Users/wadamika/Desktop/HTMLOFFICIAL/use/IMG_1312.cloud.jpg");
margin: auto;
min-height:30;
}
.menustyle{
	background-image: url("/Users/wadamika/Desktop/HTMLOFFICIAL/use/CloudWalkerSince1992.jpg");
	background-size: cover;

border: 1px;

width: 1440px;
height: 300px;
	}
	ul li{
		display: table-cell;
		width: 25%;
		transform: translateX(-20px);
	}

	a[target=_blankt]{
		position: absolute;
		top: 165px;
		left: 1150px;
		background-image: url("/Users/wadamika/Desktop/HTMLOFFICIAL/use/Twitter_Logo_Blue.svg");
		width: 100px;
	 height: 100px;

	}
a[target=_blanky]{
	position: absolute;
	top: 180px;
	left: 1250px;
		background-image: url("/Users/wadamika/Desktop/HTMLOFFICIAL/use/youtube_social_circle_white.png");
		width: 64px;
	 height: 64px;
	}
	.amebab{
		position: absolute;
		top: 270px;
		left: 1350px;
		font-size: 12px;
			
	}

.contact{
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	border: 1px snow;
	background-color: snow;
	padding: 5px;
}
.contact2{
	text-align: center;
	font-size: 20px;
	font-family: serif;
	font-weight: bold;
}
.coution{
  text-align: center;
	color: red;
	background-color: yellow;
	border: 0px solid white;
	width: 450px;
	border-radius: 100px;
transform: translateX(500px);
	font-size: 30px;
	font-weight: bold;
}



.coution2{
	text-align: center;
	font-size: 20px;
	font-family: serif;
	transform: translateX(270px);
	font-weight: bold;
}

.coution3{
	text-align: center;
	font-size: 20px;
	font-family: serif;
	transform: translateX(250px);
	font-weight: bold;
}
.commentarea{
	border: 1px solid;
	background-color:skyblue;
	text-align: center;
	transform: translateX(300px);
	width: 850px;
	height: 650px;
}

.nametitle{
	font-size: 18px;
}

input.name{
	width: 800px;
	height: 30px;
}
.mailtitle{
	font-size: 18px;
}
input.mail{
	width: 800px;
	height: 30px;
}

.comment{
	font-size: 18px;
}

textarea.comment{
	width: 800px;
	height: 320px;
}
input.sub{
	width: 500px;
}

.coutionarea{
	position: absolute;
	top: 1180px;
	
}

	footer{
		position: absolute;
		background-color: grey;
		bottom: -1000px;
		left: 0px;
		width: 1440px;
		height: 90px;
	}
	h4.copy{
		background-color: grey;
		text-align: center;
	}
