html{
	display: table-cell;
}
body{
	background-image: url("/Users/wadamika/Desktop/HTMLOFFICIAL/use/IMG_1312.cloud.jpg");
margin: auto;
min-height:30;
}
.menustyle{
	background-image: url("/Users/wadamika/Desktop/HTMLOFFICIAL/use/CloudWalkerSince1992.jpg");
	background-size: cover;
border: 1px;
width: 1440px;
height: 300px;
	}
	ul li{
		display: table-cell;
		width: 25%;
		transform: translateX(-20px);
	}
	a[target=_blankt]{
		position: absolute;
		top: 165px;
		left: 1150px;
		background-image: url("/Users/wadamika/Desktop/HTMLOFFICIAL/use/Twitter_Logo_Blue.svg");
		width: 100px;
	 height: 100px;

	}
a[target=_blanky]{
	position: absolute;
	top: 180px;
	left: 1250px;
		background-image: url("/Users/wadamika/Desktop/HTMLOFFICIAL/use/youtube_social_circle_white.png");
		width: 64px;
	 height: 64px;
	}
	.amebab{
		position: absolute;
		top: 270px;
		left: 1350px;
		font-size: 12px;
			
	}
	.Link{
		text-align: center;
		border: 1px snow;
		background-color: snow;
		padding: 5px;

		font-size: 30px;
		font-weight: bold;
	}
	.fight{
		text-align: center;
		border: 0px skyblue;
		background-color: skyblue;
		width: 400px;

		font-size: 30px;
		font-weight: bold;
		transform: translateX(520px);
		border-radius: 100px;
	}
	.induc{
		text-align: center;
		font-size: 20px;
		font-family: serif;
	}

	.freand{
		text-align: center;
		border: 0px skyblue;
		background-color: skyblue;
		width: 700px;

		font-size: 30px;
		font-weight: bold;
		transform: translateX(370px);
		border-radius: 100px;
	}

	.link{
		text-align: center;
		font-weight: bold;
		font-size: 20px;
	}
	
	footer{
		position: absolute;
		background-color: grey;
		bottom: -500px;
		height: 100px;
		width: 1440px;
		left: 0px;
	}
	h4.copy{
		background-color: grey;
		text-align: center;
	}